logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
launch.json
/RUNNING_PID
.DS_Store
.bloop
.g8
.metals
project/metals.sbt
project/project/metals.sbt
/conf/generated.keystore
.vscode/settings.json
/.bsp/sbt.json
